{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<h3>Filtrer</h3>
			{{ form(form) }}

			</div>
			<div class="col-md-9">
				<h3>
					Nos Produits
				</h3>
				<div class="row produit-container">
					{% for produit in produits %}
						<div class="col-md-4">
							{% include 'produit/single_produit.html.twig' %}
						</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
