{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
     <h3> Nos Meilleurs ventes </h3>
     <p> Decouvrez les produits les produits les plus vendus</p>
     <div class="row">
            {% for produit in produits %}
       <div class = "col-md-3">

            {% include 'produit/single_produit.html.twig' %}
              
              </div>
            {% endfor %}
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->
         <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Nous sommes là pour vous . <span class="text-muted">Votre shopping ,notre affaire.</span></h2>
                <p class="lead">Venez decouvrir et adopter votre look.</p>
            </div>
            <div class="col-md-5">
              <img src ="{{asset('assets/img/milù.jpg')}}" class = "img-fluid" alt = "l'élégance à porter de main">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Une boutique à la hauter de vos attente. <span class="text-muted">pour donner un sens à votre shopping.</span></h2>
                <p class="lead">Choississez vos articles parmis les meilleurs tendances du moment</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img src ="{{asset('assets/img/shopping.jpg')}}" class = "img-fluid" alt = "l'élégance à porter de main">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Osez le shopping avec nos articles à couper le soufle. <span class="text-muted">.</span></h2>
                <p class="lead">Des articles à la  potée de votre portefeuille.</p>
            </div>
            <div class="col-md-5">
               <img src ="{{asset('assets/img/robe_jaune.jpg')}}" class = "img-fluid" alt = "l'élégance à porter de main">
            </div>
        </div>

        <hr class="featurette-divider">


      
{% endblock %}


