{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
{{ form(form)}}
{% if notification %}
<div class = "alert alert-info">{{ notification }} </div>
{% endif %}

<h1> Modifier mon mot de passe </h1>

<a href ="{{path('acount')}}">Retourner à mon compte</a>

{% endblock %}
